/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}
.container-fluid {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-small {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

ul, ol, menu {
  list-style:none;
}

.buttons a{
  color: white;
  background-color: #0061FF;
  padding: 5px 10px;
}

.col-4 {
  flex-basis:calc((100% / 12) * 4);
}

.col-8 {
  flex-basis:calc((100% / 12) * 8);
}

.gray {
  color: #7D7D7D;
}
/* DEBUG */



/* FINE DEBUG */

/* HEADER */

header {
  padding: 20px 15px;
}

header .row {
  justify-content: space-between;
  flex-wrap: wrap;
}

header .row ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

header a {
  text-decoration: none;
  color:#7D7D7D;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* SECTION HERO */
 main .hero {
  background-color: #B4D0E7;
}

main .hero-title {
  padding: 45px 0;
  font-size: 3.5em;
}

main .col-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}

main .buttons a {
  text-decoration: none;
}

main .arrow-down {
  font-size: 40px;
}

/* FINE SECTION HERO */

/* INIZIO SECTION 2 */
main .section2-title {
  padding-top: 70px;
  font-size: 20px;
}

main .section2-checkbox {
  padding: 50px 0;
}

main .section2-checkbox span {
  margin-right: 30px;
}

main .section-2 .row {
  justify-content: space-between;
  flex-wrap: wrap;
}

main .section-2 .col-3 {
  border: #E4E4E6 solid 1px;
  flex-basis: calc((100% / 12) * 3.5);
}

main .col-3 .card-header {
  border-bottom: #E4E4E6 solid 1px;
  padding: 7px 0;
  text-align: center;
}

main .col-3 .card-body {
  padding:0 20px;
}

main .col-3 .card-title {
  padding-top:20px;
  padding-bottom: 10px;
}

main .col-3 .price {
  margin-bottom:35px;
}

main .col-3 .price p {
  margin-bottom: 10px;
}

main .col-3 .plan-information p {
  margin-bottom: 20px;
}

main .col-3 .payment {
  margin-top: 35px;
}

main .col-3 .buttons {
  margin-bottom: 30px;
}

main .col-3 .border {
  border: solid 1px #E4E4E6;
  max-width: 40px;
  margin: 50px 0;
}

main .col-3 .footer-card {
  padding:0 20px;
}

main .col-3 .footerCard-title {
  margin-bottom: 15px;
  margin-top: 20px;
}

main .col-3 .footerCard-list {
  padding-bottom: 40px;
}

main .col-3 .footerCard-list li {
  margin-bottom: 10px;
}

main .col-3 .footerCard-list i {
  color: #0061FF;
} 
/* FINE SECTION 2 */
